<Project>

  <PropertyGroup>
    <DotNetSdkTestPath>@DOTNET_SDK_PATH@</DotNetSdkTestPath>
  </PropertyGroup>


  <Import Project="$(DotNetSdkTestPath)@DOTNET_SDK_TEST_PROJECT@"/>

    <ItemGroup>
        <!-- when building 241 and above compileDotnet complains about this package version. so we set the version
               according to rider version. to reproduce remove this and build with 241 -->
        <PackageReference Include="System.Diagnostics.TraceSource" Version="4.3.0" />
        <PackageReference Include="Microsoft.NETCore.Platforms" Version="3.1.0" PrivateAssets="All" />
    </ItemGroup>

</Project>
