

Digma.Rider.Plugin/Digma.Rider/bin/
Digma.Rider.Plugin/Digma.Rider/obj/
Digma.Rider.Plugin/Digma.Rider.Tests/bin/
Digma.Rider.Plugin/Digma.Rider.Tests/obj/
/Digma.Rider.Plugin/Digma.Rider.Plugin.sln.DotSettings.user
