name: Build all branches (!main)

on:
  workflow_call:
    inputs:
      build-profile:
        required: true
        type: string
      ref-name:
        required: true
        type: string

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 10000
          temp-reserve-mb: 512
          swap-size-mb: 1024
          remove-android: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true

      - name: Debug
        run: echo "Building ref ${{ inputs.ref-name }} with profile ${{ inputs.build-profile }}"

      - name: Fetch Sources
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref-name }}

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Setup dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            6.0.411

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.4


      - name: Build Plugin
        env:
          POSTHOG_TOKEN_URL: ${{ secrets.POSTHOG_TOKEN_URL }}
        run: ./gradlew clean test buildPlugin --no-configuration-cache  --gradle-user-home=./.localhome --project-cache-dir=./.projectcache -PbuildProfile=${{ inputs.build-profile }} -PdoNotDownloadSources=true

      - name: Find posthog url
        id: posthog
        shell: bash
        run: |
          cd ${{ github.workspace }}/build/libs
          FILENAME=`ls instrumented-digma-intellij-plugin*.jar`
          unzip -q "$FILENAME" -d content
          URL=$(cat ./content/posthog-token-url.txt)
          echo "url=${URL}" >> "$GITHUB_OUTPUT"

      - name: Verify posthog url exists
        uses: actions/github-script@v3
        if: ${{ steps.posthog.outputs.url == '' }}
        run: echo "posthog url is empty,failing build"
        with:
          script: |
            core.setFailed('posthog url is empty')


      - name: Prepare Plugin Artifact
        id: artifact
        shell: bash
        run: |
          cd ${{ github.workspace }}/build/distributions
          FILENAME=`ls *.zip`
          unzip "$FILENAME" -d content
          echo "filename=${FILENAME:0:-4}" >> "$GITHUB_OUTPUT"

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.artifact.outputs.filename }}
          path: ./build/distributions/content/*/*
          retention-days: 5

      # Collect Tests Result of failed tests
      ##todo: add other modules test reports
      - name: Collect Tests Result
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: tests-result-${{ inputs.build-profile }}
          path: ${{ github.workspace }}/ide-common/build/reports/tests
          retention-days: 5


      ### runPluginVerifier must run only after upload artifact because it packages again
      - name: Run Plugin Verifier
        run: ./gradlew runPluginVerifier --no-configuration-cache  --gradle-user-home=./.localhome --project-cache-dir=./.projectcache -PbuildProfile=${{ inputs.build-profile }}  -PdoNotDownloadSources=true

      - name: Collect Plugin Verifier Result
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: pluginVerifier-result-${{ inputs.build-profile }}
          path: ${{ github.workspace }}/build/reports/pluginVerifier
          retention-days: 5

