## could use matrix strategy instead of calling the workflows one by one but secrets don't work with matrtix.

name: Build all branches (!main)

on:
  push:
    branches: [ '**','!main' ]

jobs:
  call-build-workflow:
    strategy:
      matrix:
        profile: [ lowest, latest, eap ]
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: ${{ matrix.profile }}
      ref-name: ${{ github.ref_name }}
      build-with-rider: false
    secrets: inherit
