
name: Build all branches (!main)

on:
  push:
    branches: [ '**','!main' ]

jobs:
  build-workflow:
    strategy:
      matrix:
        profile: [ p223, p231, p232, p233 ]
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: ${{ matrix.profile }}
      ref-name: ${{ github.ref_name }}
      build-with-rider: false
    secrets: inherit
    ##todo: maybe we want to run plugin verifier on every commit to branch ?
#  plugin-verifier-workflow:
#    strategy:
#      matrix:
#        profile: [ p223, p231, p232, p233 ]
#    uses: ./.github/workflows/plugin-verifier-workflow.yml
#    with:
#      build-profile: ${{ matrix.profile }}
#      ref-name: ${{ github.ref_name }}
#    secrets: inherit
