name: Build all branches (!main)

on:
  push:
    branches: [ '**','!main' ]

jobs:

  call-build-workflow-lowest:
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: lowest
      ref-name: ${{ github.ref_name }}
    secrets: inherit
  call-build-workflow-latest:
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: latest
      ref-name: ${{ github.ref_name }}
    secrets: inherit
  call-build-workflow-eap:
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: eap
      ref-name: ${{ github.ref_name }}
    secrets: inherit
