
name: Build main and Prepare Release
on:
  push:
    branches: [ main ]

concurrency:
  group: main-branch
  cancel-in-progress: false

jobs:
  call-build-workflow:
    strategy:
      matrix:
        profile: [ p223, p231, p232 ]
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: ${{ matrix.profile }}
      ref-name: ${{ github.ref_name }}
      build-with-rider: false
    secrets: inherit
  ## can do a double matrix for rider but then it's not clear in github which is the rider build.
  call-build-workflow-with-rider:
    strategy:
      matrix:
        profile: [ p223, p231, p232 ]
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: ${{ matrix.profile }}
      ref-name: ${{ github.ref_name }}
      build-with-rider: true
    secrets: inherit

  call-prepare-release-draft:
    needs: [ call-build-workflow,call-build-workflow-with-rider ]
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/release-draft.yml
    secrets: inherit