name: Build all branches (!main) (lowest profile)

on:
  push:
    branches: [ '**','!main' ]

jobs:

  call-build-workflow:
    strategy:
      matrix:
        profile: [ lowest, latest, eap ]
    uses: ./.github/workflows/build-workflow.yml
    with:
      build-profile: ${{ matrix.profile }}
      ref-name: ${{ github.ref_name }}
    secrets:
      posthog-url: ${{ secrets.POSTHOG_TOKEN_URL}}
