

name: Publish to jetbrains marketplace
on:
  release:
    types: [prereleased, released]

jobs:
  call-publish-workflow:
    strategy:
      matrix:
        profile: [ lowest, latest, eap ]
    uses: ./.github/workflows/publish-workflow.yml
    with:
      build-profile: ${{ matrix.profile }}
      tag-name: ${{ github.event.release.tag_name }}
      changelog: ${{ github.event.release.body }}
    secrets: inherit
  #      publish-token: ${{ secrets.DIGMA_JB_INTELLIJ_PUBLISH_TOKEN }}
  #      digma-jb-private-key-password: ${{ secrets.DIGMA_JB_PRIVATE_KEY_PASSWORD }}
  #      digma-jb-certificate-chain-file: ${{ secrets.DIGMA_JB_CERTIFICATE_CHAIN_FILE }}
  #      digma-jb-private-key-file: ${{ secrets.DIGMA_JB_PRIVATE_KEY_FILE }}
  #      posthog-token-url: ${{ secrets.POSTHOG_TOKEN_URL}}


  update-to-next-version:
    needs: call-publish-workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main
          token: ${{ secrets.GH_ADMIN_TOKEN }}

      # Update changelog file and commit to main
      - name: Patch Changelog in main branch
        if: ${{ steps.properties.outputs.changelog != '' }}
        env:
          CHANGELOG: ${{ steps.properties.outputs.changelog }}
        run: |
          ./gradlew -PdoNotDownloadSources=true --gradle-user-home=./localhome patchChangelog --release-note="$CHANGELOG"

      - name: Increment version
        run: |
          ./gradlew --gradle-user-home=./localhome incrementSemanticVersionPatch 
          ./gradlew --gradle-user-home=./localhome printSemanticVersion -q

      - name: Commit next version to main
        run: |
          VERSION=$(cat version.properties |grep "version="|cut -d= -f2)
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add version.properties
          git add CHANGELOG.md
          git commit -m "increment version after publish to ${VERSION} and update changelog"
          git push
